@{
    ViewBag.Title = "OutdoorZ";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>
    Brought to you courtesy of:<br />
    <address>
        ByteSizeTech<br />
        345 Monmouth Ave N<br />
        Monmouth, OR 97361<br />
    </address>

    <address>
        <a href="mailto:ByteSizeTech@mail.wou.edu">Email Us!</a>

    </address>
</p>
