<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://rstravelez20160214063550.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>rstravelez20160214063550.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>RSTravelEZ20160214063550</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$RSTravelEZ20160214063550</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="AppContext" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:rstravelez20160214063550dbserver.database.windows.net,1433;Initial Catalog=RSTravelEZ20160214063550_db;User ID=OutdoorAdmin@rstravelez20160214063550dbserver;Password=Abc123!!" Name="Data Source=tcp:rstravelez20160214063550dbserver.database.windows.net,1433;Initial Catalog=RSTravelEZ20160214063550_db;User Id=OutdoorAdmin@rstravelez20160214063550dbserver;Password=Abc123!!" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="TravelEZ.DAL.AppContext, TravelEZ" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:rstravelez20160214063550dbserver.database.windows.net,1433;Initial Catalog=RSTravelEZ20160214063550_db;User ID=OutdoorAdmin@rstravelez20160214063550dbserver;Password=Abc123!!" Name="Data Source=tcp:rstravelez20160214063550dbserver.database.windows.net,1433;Initial Catalog=RSTravelEZ20160214063550_db;User Id=OutdoorAdmin@rstravelez20160214063550dbserver;Password=Abc123!!" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="TravelEZ.Models.ApplicationDbContext, TravelEZ" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)AppContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:rstravelez20160214063550dbserver.database.windows.net,1433;Initial Catalog=RSTravelEZ20160214063550_db;User Id=OutdoorAdmin@rstravelez20160214063550dbserver;Password=Abc123!!</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:rstravelez20160214063550dbserver.database.windows.net,1433;Initial Catalog=RSTravelEZ20160214063550_db;User Id=OutdoorAdmin@rstravelez20160214063550dbserver;Password=Abc123!!</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="AppContext" />
  </ItemGroup>
</Project>