<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://shtravelez20160401024641.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>shtravelez20160401024641.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>SHTravelEZ20160401024641</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$SHTravelEZ20160401024641</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="AppContext" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:outdoorzserver.database.windows.net,1433;Initial Catalog=SHTravelEZ20160401024641_db;User ID=outdoorzadmin@outdoorzserver;Password=0utd00rZ22" Name="Data Source=tcp:outdoorzserver.database.windows.net,1433;Initial Catalog=SHTravelEZ20160401024641_db;User Id=outdoorzadmin@outdoorzserver;Password=0utd00rZ22" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="TravelEZ.DAL.AppContext, TravelEZ" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="AppContext" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:outdoorzserver.database.windows.net,1433;Initial Catalog=SHTravelEZ20160401024641_db;User ID=outdoorzadmin@outdoorzserver;Password=0utd00rZ22" Name="Data Source=tcp:outdoorzserver.database.windows.net,1433;Initial Catalog=SHTravelEZ20160401024641_db;User Id=outdoorzadmin@outdoorzserver;Password=0utd00rZ22" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="TravelEZ.Models.ApplicationDbContext, TravelEZ" Origin="Convention" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)AppContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:outdoorzserver.database.windows.net,1433;Initial Catalog=SHTravelEZ20160401024641_db;User Id=outdoorzadmin@outdoorzserver;Password=0utd00rZ22</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="AppContext" />
  </ItemGroup>
</Project>