@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Banned";
}

<hgroup>
    <h1 class="text-danger">Banned.</h1>
    <h2 class="text-danger">This account has been banned from OutdoorZ due to inappropriate use.</h2>
</hgroup>



